@inherits LayoutComponentBase

<PageTitle>CuttingOptimizer.Blazor</PageTitle>

<div class="page">
    <main>
        <NavMenu />

        <article class="container content px-4 mt-4">
            @Body
        </article>
    </main>
</div>
