@inherits LayoutComponentBase

<PageTitle>CuttingOptimizer.Blazor</PageTitle>

<div class="page">
    <div class="sidebar no-print">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 no-print">
            V1.2
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
