@using CuttingOptimizer.Domain.Models;
    <div class="row title-bar">
        <div class="form-group col-auto">
            <h3>Zaag</h3>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group w-100 col-lg-1 col-xs-12">
            <label for="sawID">Zaagblad</label>
            <InputText class="form-control" id="sawID" @bind-Value="Saw.ID" placeholder="ID" />
        </div>
        <div class="form-group w-100 col-lg-1 col-xs-12">
            <label for="sawThickness">Zaagsnede</label>
            <InputNumber class="form-control" id="sawThickness" @bind-Value="Saw.Thickness" placeholder="Dikte" />
        </div>
    </div>

@code {
    [Parameter]
    public Saw Saw { get; set; }

    protected override void OnInitialized()
    {
        if(Saw == null) Saw = new Saw();
    }
}