@page "/"
@using CuttingOptimizer.Blazor.Components
@using CuttingOptimizer.Blazor.Models;
@using CuttingOptimizer.Domain.Models;

<PageTitle>Home</PageTitle>

<div class="container-fluid">
    <div>
        <h2>Cutting Optimizer</h2>
        <div class="mt-3">
            <div>
                <h5> Materialen:</h5>
                <ul>
                    <li>Trim zorgt er voor dat je de hoeveel die je ingeeft aftrekt van de lengte en breedte (materiaal haakszagen).</li>
                    <li>Prio 0 word niet meegenomen in de berekening.</li>
                    <li>Volgorde van prio word van klein (het eerste uitgevoerd) naar het grootst (laatste uitgevoerd).</li>
                    <li>Standaard geeft aan welke plaat gebruikt mag worden als er geen plaats meer is.</li>
                </ul>
            </div>
            <div>
                <h5>Settings:</h5>
                <ul>
                    <li>Zaagblad instellen</li>
                    <li>Fineer aan/uitzetten</li>
                </ul>
            </div>
        </div>
    </div>

</div>