<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CuttingOptimizer.Infrastructure.Settings.SqlConnectionString"
            connectionString="Server=.\SQLEXPRESS;Database=CuttingOptimizer;Trusted_Connection=True;" />
    </connectionStrings>
</configuration>